@import 'Styles/keyframe.scss';

.animation {
  &__container {
    clear: both;
    text-align: left;
    position: relative;
    > * {
      visibility: hidden;
    }
  }
  &--bounceIn {
    visibility: visible !important;
    -webkit-animation: anim-bounce-in 0.4s;
    -moz-animation: anim-bounce-in 0.4s;
    animation: anim-bounce-in 0.4s;
  }
}
