
.animated-visibility-container {
    clear: both;
    text-align: left;
    position: relative;
}
.animated-visibility-container .is-hidden {
    visibility: hidden;
}
.animated-visibility-container .bounce-in {
    visibility: visible;
    -webkit-animation: bounce-in 0.4s;
    -moz-animation: bounce-in 0.4s;
    animation: bounce-in 0.4s;
}


@-o-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
  
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
  
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes bounce-in {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
  
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
  
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}