
.tag {
  &__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__chips {
    color: white;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.75em;
    font-weight: 500;
  }
}