h1, h2{
    text-align: center;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    background-color: #030380;
    color: white;
    border-radius: 4px;
}
.contacts-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid;
}
@media only screen and (max-width: 375px) {
    .contacts-wrapper{
        flex-direction: column;
    }
}