$white: #fff;
$black: #000;
$dark-blue: #040fd9;
$oxford-blue: #324650;
$bondi-blue: #00aeb3;
$fountain-blue: #4cb8c4;
$cerulean: #03a9f4;
$ocean-green: #489d8a;
$shamrock: #3cd3ad;
$star-dust: #a0a19d;
$gamboge: #e99c0a;
$porche: #e8a961;
$port-gore: #202055;
$mine-shaft: #333;
$concrete: #f3f3f3;
$sunglo: #e86971;
$valencia: #d34b4c;
$alto: #ddd;
