$white: #fff;
$dark-blue: #040fd9;
$bondi-blue: #00aeb3;
$fountain-blue: #4cb8c4;
$shamrock: #3cd3ad;
$star-dust: #a0a19d;
$gamboge: #e99c0a;
$port-gore: #202055;
$mine-shaft: #333;
$concrete: #f3f3f3;
$sunglo: #e86971;
$alto: #ddd;