@-o-keyframes anim-bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes anim-bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes anim-bounce-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes anim-bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-spinner {
  50% {
    filter: blur(2px);
  }
  90%,
  100% {
    transform: rotate(1turn);
    filter: blur(0);
  }
}
