html {
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}

.profile-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
