.main__content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;

  // .content__wrapper {
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  //   flex: 1;
  //   overflow: auto;
  //   display: flex;
  //   flex-direction: column;
  // }
}
