.timeline {
  padding: 15px;
  &:before {
    left: calc(1% + 6px);
  }
}
@media only screen and (min-width: 769px) {
  .timeline {
    max-width: 100%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 33%;
      bottom: 0px;
      width: 0px;
      border: 2px solid;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
