.footer {
  flex-shrink: 0;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .disc {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  background: transparent;
  box-shadow: none;
  line-height: 30px;
  font-size: medium;
}
