@import 'Styles/fontface.scss';

html {
  height: 100%;
  font-family: 'Hegde';
  overflow: hidden;
  body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
