@import 'Styles/color';
.user {
  &__card {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
  }
  &__icon {
    padding: 10px;
    border: 1px solid $dark-blue;
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: $dark-blue;
  }
  &__name {
    font-weight: bold;
  }
  &__friendly-name {
    font-size: 2em;
    color: $dark-blue;
  }
  &__known-as {
    font-size: 1em;
    color: $bondi-blue;
  }
  &__title {
    color: $star-dust;
    font-size: 18px;
  }
  &__details {
    padding: 10px 0 0 0;
  }
  &__based-in {
    color: $gamboge;
  }
}

.iconed-label {
  padding: 0 0 0 15px;
}

.download {
  &__wrapper {
    margin-left: -20px;
    width: calc(100% + 38px);
  }
  &__button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: $white;
    background-color: $port-gore;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin: 1px 0 0 0;
    border-radius: 4px;
  }
}
