.user-card {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
}
.user-icon {
  padding: 10px;
  border: 1px solid #040fd9;
  margin: auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: #040fd9;
}
.user-name {
  font-weight: bold;
}
.user-friendly-name {
  font-size: 2em;
  color: #040fd9;
}
.user-known-as {
  font-size: 1em;
  color: #00aeb3;
}
.user-title {
  color: #a0a19d;
  font-size: 18px;
}
.user-details {
  padding: 10px 0 0 0;
}
.user-based-in {
  color: #e99c0a;
}
.iconed-label {
  padding: 0 0 0 15px;
}

.download-wrapper {
  margin-left: -20px;
  width: calc(100% + 38px);
}
.button-link {
  text-decoration: none;
  color: #fff;
}

.download-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #202055;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin: 1px 0 0 0;
  border-radius: 4px;
}
